@page
@model IndexModel


@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>



<div class="text-center">
    Claims:
</div>



<div>
    <ul>
        @foreach (var claim in Model.myclaims)
        {
            <li>@claim</li>
        }
    </ul>
</div>


@using (Html.BeginForm("OnSave", "Index"))
{


<div>
    Your Shoe Size:   @Model.shoesizestr
</div>


<div>
   
    <a asp-page="./Shoes/Edit" asp-route-id="1">Edit</a>
</div>



    <div>

       


        @*@Html.DropDownListFor(
            x => x.SelectedShoeSizeId,
            Model.ShoeSizes
        )*@


     


        @* @Html.DropDownListFor(Model.SelectedShoeSizeId, Model.ShoeSizes)*@


        @*@{
                List<CategoryModel> CategoryList = CategoryModel.GetCategoryList(UserID);
                IEnumerable<SelectListItem> CategorySelectList = CategoryList.Select(x => new SelectListItem() { Text = x.CategoryName.Trim(), Value = x.CategoryID.Trim() });
            }
            <tr>
                <td>
                    <B>Assigned Category:</B>
                </td>
                <td>
                    @Html.DropDownList("CategoryList", CategorySelectList, "Select a Category (Optional)")
                </td>
            </tr>*@

    </div>
















    @*<input type="submit" value="Submit Data" id="btnSubmit" />*@
}


@*<input type="submit" value="Save" />
    <input type="button"
           value="Go Somewhere Else"
           onclick="location.href='<%: Url.Action('OnSave', 'Index') %>'" />*@




