@page
@model IndexModel


@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>



<div class="text-center">
    Claims:
</div>



<div>
    <ul>
        @foreach (var claim in Model.myclaims)
        {
            <li>@claim</li>
        }
    </ul>
</div>


@using (Html.BeginForm("OnSave", "Index"))
{


<div>
    Your Shoe Size:   @Model.shoesizestr
</div>


<div>
   
    <a asp-page="./Shoes/Edit" asp-route-username="@Model.username">Edit</a>
</div>




}
